<%= image_tag("#{@current_image}") %>
<%= @board_layout%>
<%= form_tag("/games/#{@game.id}", :method => "put") do %>
    <%= text_field(:game, :name, value: " ") %>
    <%= submit_tag("Guess Letter") %>
  <% end %>
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>